@model LanchesMac.Models.Lanche

@{
    ViewData["Title"] = "Deletar ";
}

<h1>Deletar lanche</h1>

<h3>Tem certeza que deseja deletar este lanche?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Lanche
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            Descricao Curta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoCurta)
        </dd>
        <dt class = "col-sm-2">
            Descricao Detalhada
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoDetalhada)
        </dd>
        <dt class = "col-sm-2">
            Preço
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            Imagem
        </dt>
        <dd class = "col-sm-10">
           <img src="@Model.ImagemUrl" width="110" height="75" />
        </dd>
        <dt class = "col-sm-2">
            Thumbnail
        </dt>
        <dd class = "col-sm-10">
           <img src="@Model.ImagemThumbnailUrl" width="110" height="75" />
        </dd>
        <dt class = "col-sm-2">
            Preferido
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLanchePreferido)
        </dd>
        <dt class = "col-sm-2">
            Em Estoque
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmEstoque)
        </dd>
        <dt class = "col-sm-2">
            Categoria
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.CategoriaNome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LancheId" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar a lanches</a>
    </form>
</div>
